@model List< ApplicationCore.Models.MovieCardResponseModel>

@{
    ViewData["Title"] = "Home Page";
}


<h1>
    @ViewBag.PageTitle 
</h1>
<h3>
    Total TOP Movies: @ViewData["TotalMovies"]
</h3>

<div>
    <ul>
        @foreach (var Movie in Model)
        {
            <li>
                @Movie.Id <br />
                @Movie.Title
            </li>
        }
    </ul>
</div>

