@model ApplicationCore.Models.UserProfileResponseModel

@{
    ViewData["Title"] = "UserProfile";
}

<h1>UserProfile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
            <div class="form-group">
                Email: @Model.Email
            </div>
            <div class="form-group">
                FirstName: @Model.FirstName
            </div>
             <div class="form-group">
                 LastName: @Model.LastName
             </div>
            <div class="form-group">
                DateofBirth: @Model.DateOfBirth
            </div>
           
           
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>